@font-face {
  font-family: 'Hasklig';
  src: url(./Assets/Fonts/Hasklig-Light.otf);
  font-weight: '400';
}
@font-face {
  font-family: 'Hasklig';
  src: url(./Assets/Fonts/Hasklig-Regular.otf);
  font-weight: 'regular';
}
@font-face {
  font-family: 'Hasklig';
  src: url(./Assets/Fonts/Hasklig-Medium.otf);
  font-weight: '600';
}
@font-face {
  font-family: 'Hasklig';
  src: url(./Assets/Fonts/Hasklig-Semibold.otf);
  font-weight: '700';
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
#root {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  /* font-family: 'Sansa', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  flex: 1;
}
